<ion-header>
  <ion-navbar>
    <ion-title>Livres</ion-title>
	<ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of booksList; let i = index"
			[color]="book.isLend ? 'danger' : 'secondary'"
            (click)="onLoadBook(i)">
      <p *ngIf="book.owner">{{ book.name }}, emprunté par : {{ book.owner }} </p>
	  <p *ngIf="!book.owner">{{ book.name }}</p>
    </button>
  </ion-list>
</ion-content>