<ion-header>
  <ion-navbar>
    <ion-title>CDs</ion-title>
	<ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let cd of cdsList; let i = index"
			[color]="cd.isLend ? 'danger' : 'secondary'"
            (click)="onLoadCD(i)">
      <p *ngIf="cd.owner">{{ cd.name }}, emprunté par : {{ cd.owner }} </p>
	  <p *ngIf="!cd.owner">{{ cd.name }}</p>
    </button>
  </ion-list>
</ion-content>